<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="index">
<a href ="/drones" class="btn btn-info"> See all Drones</a>
<a href="/drones/create" class="btn btn-info">Create a new drone</a>
</div>