<h2>Update the drone</h2>
<form action="/drones/{{drone.id}}/edit" method="POST">
    <label for="name">Drone name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{drone.name}}">
    <label for="propellers">Number of propellers</label>
    <input type="number" class="form-control" id="propellers" name="propellers" value="{{drone.propellers}}">
   <label for="maxSpeed">Drone Speed</label>
    <input type="number" class="form-control" id="maxSpeed" name="maxSpeed" value="{{drone.maxSpeed}}">
  <button type="submit" class="btn btn-primary">Update</button>
</form>